.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-top: 60px;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #540581;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container .btn:hover {
    background-color: #d40667;
}

.text-title {
    color: #540581;
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 0 5px 5px rgb(153, 153, 153);
}