<div class="container">
    <h1 class="text-title">Login</h1>
    <div class="card card-container">
        <form #loginForm="ngForm" (ngSubmit)="loginAction(loginForm)">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="email" #email="ngModel" [(ngModel)]="loginService.data.email"
                        placeholder="Email">
                </div>
                <div class="input-field col s12">
                    <input type="password" name="password" #password="ngModel" [(ngModel)]="loginService.data.password"
                        placeholder="Password">
                </div>
                <div class="card-action" style="margin-left: -25px">
                    <div class="input-field col s12">
                        <button class="btn button-left">Log in</button>
                        <button class="btn button-rigth" (click)="navigateTo('/signup')">Sign up</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>